{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column full-height">
  <div class="p-2 mt-5">
    <h1>
      AgroLogistics Web Page
    </h1>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="alert alert-danger" role="alert">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
  <div class="p-2 mt-5">
    <h2>
      Logistic centers website to schedule both deliveries and purchases of products.
    </h2>
  </div>
  <div class="p-2 mt-5">
      <img src="/static/img/logo.png" />
  </div>
</div>

{% endblock %}