{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="p-2 mt-5">
        
    {% set months = [['Jan','January'], ['Feb','February'], ['Mar','March'], ['Apr','April'], ['May','May'], ['Jun','June'], ['Jul','July'], ['Aug','August'], ['Sep','September'], ['Oct','October'], ['Nov','November'], ['Dec','December']] %}
    {% for month_row in months | batch(6, '&nbsp;') %}
    <div class="row">
        {% for month_num, month_name in month_row %}
        <div class="col mt-3 mb-3 ml-5 mr-5 p-2">
            {% if schedule_type == "consumer" %}
            <form action="{{url_for('schedule.consumer_schedule')}}" method="POST">
            {% elif schedule_type == "producer" %}
            <form action="{{url_for('schedule.producer_schedule')}}" method="POST">
            {% endif %}
                <input type="hidden" name="month" value={{month_num}}>
                <button class="btn btn-dark" type="submit" {% if month == month_num %} autofocus {% endif %}>{{month_num}}</button>
            </form>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    </div>
</div>

<div class="p-2 mt-5">
    {% set week_addr = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] %}        
    <h4 class="text-center">{{month_name}}</h4>
    <table class="table table-bordered">
        <tr>
            {% for addr in week_addr %}
                <th>{{addr}}</th>
            {% endfor %}
        </tr>
        {% for weeks in calendar %}
        <tr>
            {% for day in weeks %}
                {% if day == 0 %}
                    <td>&nbsp</td>
                {% else %}
                    <td style="background: {{ day['occupied_degree'] }}">
                    {% if schedule_type == "consumer" %}
                    <a class="btn text-decoration-none" href="{{ url_for('schedule.consumer_day', day=day['day'],
                        month=month_num) }}"><div>{{ day['day'] }}</div></a>
                    {% elif schedule_type == "producer" %}
                    <a class="btn text-decoration-none" href="{{ url_for('schedule.producer_day', day=day['day'],
                        month=month_num) }}"><div>{{ day['day'] }}</div></a>
                    {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}