{% extends "base.html" %}

{% block header_bokeh %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block content %}
    <div class="p-2 mt-5">
        <h1 class="display-1">
            Statistics
        </h1>
        <div class="row">
            {% if data %}
                <div class="col pt-3 pb-3">
                    <h1>{{ labels_info['info'] }}</h1>
                    <h2>{{ labels_info['date'] }}</h2>
                    <div class="col margin-center">
                        <canvas id="chart" style="max-width:800px"></canvas>
                        <script>
                            let data = JSON.parse('{{ data|safe }}');
                            let label = JSON.parse('{{ data_label|safe }}');
                            let chartType = JSON.parse('{{ plot_type|safe }}')['type'];
                            let labels = [];
                            let values = [];
                            let chartData = {};
                            let maximumY = 0;
                            if (chartType === "bar"){
                                for (let k in data) {
                                    labels.push(k);
                                    values.push(data[k]);
                                    // Retrieve maximum Y based on the data
                                    if (maximumY <= data[k])
                                        maximumY = data[k]*2;
                                }

                                // bar chart data
                                chartData = {
                                    labels: labels,
                                    datasets: [
                                        {
                                            backgroundColor: "rgba(0,0,0,1)",
                                            borderColor: "rgba(255,255,255,1)",
                                            data: values,
                                            label: label['label']
                                        }
                                    ]
                                }

                            } else if (chartType === "line") {
                                // Create a values with the keys of the data
                                const keys = Object.keys(data[Object.keys(data)[0]]);
                                values = {};

                                keys.forEach(function (item, index) {
                                  values[item] = [];
                                });
                                for (let date in data) {
                                    labels.push(date);
                                    // Append the data
                                    keys.forEach(function (item, index) {
                                        values[item].push(data[date][item]);
                                    });

                                    // Only use capacity when required
                                    if (keys.includes("estimated_stock") || keys.includes("actual_stock")) {
                                        // Retrieve maximum Y based on the capacity
                                        if (maximumY <= data[date]['capacity'])
                                            maximumY = data[date]['capacity'] * 1.5;
                                    }else if (keys.includes("price")) {
                                        maximumY = data[date]['price']*1.5;
                                    }else {
                                        // Events -> Maximum is 28
                                        maximumY = 28;

                                    }
                                }

                                // Define some line colors
                                const colors = ["#3e95cd", "#8e5ea2", "#3cba9f", "#61c97d", "#196cb0", "#6719b0"]

                                // Retrieve datasets
                                let datasets = []
                                keys.forEach(function (item, index) {
                                    datasets.push({
                                        data: values[item],
                                        label: label['label'][index],
                                        borderColor: colors[index],
                                        fill: false
                                    })
                                });

                                chartData = {
                                    labels: labels,
                                    datasets: datasets
                                }
                            }

                            let options = {

                                scales: {
                                    yAxes: [{
                                        ticks: {
                                          min: -0.25*maximumY,
                                          max: maximumY,
                                        },
                                      }]
                                }
                            };

                            // draw bar chart
                            let chart = new Chart("chart", {
                                type: chartType,
                                data: chartData,
                                options: options
                            });
                        </script>
                    </div>
                </div>
            {% else %}
                <p class="notification is-danger"> The statistics cannot be loaded, please refresh the page</p>
            {% endif %}
        </div>
    </div>
{% endblock %}